/* Estilos para la barra lateral */
.professional-sidebar {
  /* Ajusta los estilos de la barra lateral aquí */
  width: 24rem;
  background-color: #E1E2E1;
  min-height: 100vh;
}

.professional-sidebar__logo {
  /* Estilos para el logo */
  margin-top: 3.2rem;
  margin-left: 1.6rem;
}

.professional-sidebar__navigation {
  /* Estilos para la navegación */
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
}

.professional-sidebar__link {
  /* Estilos comunes para los enlaces */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  padding:  1.2rem 0rem;
  padding-left: 1.6rem;
  text-decoration: none;
  color: #616161;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.professional-sidebar__link--active {
  background-color: #F5F5F6;
  color: #373737;
  display: flex;
  align-items: center;
    gap: 0.8rem;
}

.professional-sidebar__link--logout {
  /* Estilos específicos para el enlace de cierre de sesión */
}
.professional-siderbar__about-me{
  padding: 1.6rem;
}
.professional-siderbar__about-me p {
  font-family: "Inter";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.4px;
  text-align: left;
  
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.4px;
  text-align: left;
  color: #616161;
}