/* Estilos para la página de búsqueda de empleo */
.find-job-page {
  display: flex;
}


/* Estilos para el contenido principal */
.find-job-main {
  /* Ajusta los estilos del contenido principal aquí */
  
  padding:  3.2rem 0rem;
  display: flex;
  flex-direction: column;
  background: #F5F5F6;
  height: 100%;
  align-items: center;
  width: calc(100% - 24rem);
}

/* Estilos para la cabecera principal */
.find-job-header {
  /* Estilos para la cabecera de búsqueda de empleo */
  width: 80%;
}

.find-job-header__title {
  /* Estilos para el título */
  font-family: "Montserrat", sans-serif;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 4.1rem;
  letter-spacing: 0.25px;
  text-align: left;
}

.find-job-header__search {
  /* Contenedor de búsqueda */
  display: flex;
  flex-direction: column;
  margin: 0.4rem 0rem;
}

.find-job-header__label {
  /* Estilos para las etiquetas de los campos de búsqueda y filtros */
}

.find-job-header__input {
  /* Estilos para los campos de entrada de texto */
  width: 42rem;
}

/* Estilos para los filtros de búsqueda */
.find-job-filters {
  /* Contenedor para los filtros */
  display: flex;
}

.find-job-filters__category,
.find-job-filters__type,
.find-job-filters__salary {
  display: flex;
  flex-direction: column;
  /* Estilos para los contenedores de cada filtro */
}
.find-job-filters__salary-container{
/* display: flex;
flex-direction: column; */
display: flex;
align-items: center;
}
.find-job-filters__salary-container div{
/* display: flex;
flex-direction: column; */
width: 1.1rem;
height: 0.2rem;
background: #8E8E8E;
margin-right: 0.8rem;
}
.find-job-filters__select {
  /* Estilos para los selectores de categoría y tipo */
  width: 28rem;
  margin-right: 1.6rem;
}

.find-job-filters__input {
  /* Estilos para los campos de entrada numérica de salario */
  width: 10.2rem;
}

.find-job-filters__input--min{
  margin-right: 0.8rem;
}
.find-job-filters__input--min,
.find-job-filters__input--max {
  /* Modificadores para los campos de salario mínimo y máximo */
}

/*  */

.job-cards {
 display: flex;
 flex-wrap: wrap;
 gap:  1.6rem 3.2rem;
 width: 80%;
}
.job-cards__title {
  width: 80%;

}
.job-card {
  width: 29rem;
  height: 17rem;
  padding: 1.6rem;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(225, 226, 225, 1);
  background-color: #fff;
  border-radius: 0.8rem;
}
.job-card__details {
  display: flex;
  margin-bottom: 1.6rem;
}
.job-card__image {
  width: 8rem;
  height: auto;
  object-fit: contain;
  margin-right: 0.8rem;
}
.job-card__text {
  white-space: nowrap; /* Asegura que el texto no se envuelva */
  overflow: hidden; /* Oculta el contenido que sobrepasa el contenedor */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final del contenido oculto */

}
.job-card__category {
  font-family: "Inter";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.4px;
  text-align: left;
  color: #8E8E8E;
}
.job-card__job-title {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: 0.15px;
  text-align: left;
  color: #373737;
}
.job-card__company-name {
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0.1px;
  text-align: left;
  color: #616161;
}

.job-card__info {
  font-family: "Inter";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1,6rem;
  letter-spacing: 0.4px;
  text-align: left;
  color: #8E8E8E;
  display: flex;
  
}
.job-card__employment-type {

}
.job-card__salary-range {

}
.job-card__actions {
  display: flex;
  justify-content: space-between;
}
.job-card__action-button {
  font-family: "Inter";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 1.25px;
  text-align: left;
  background-color: white;
  border: none;
  color: #616161;
}
.job-card__action-button--follow {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.job-card__action-button--see-more {
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  border: 1px solid #F48FB1;
  gap: 8px;
  
}

.button-applied{
  color: #8E8E8E;
  background: #E1E2E1;
  border: none;
}