.profile-page{
    display: flex;

}
.profile-sidebar{
    width: 20rem;

}
.profile-sidebar__logo{
    
}
.profile-sidebar__navigation{
    
}
.profile-sidebar__link{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;

}
.profile-sidebar__link--active{
    
}
.profile-sidebar__link--logout{
    
}
.profile-main{
    padding: 3.2rem 0rem 0rem 12rem;
 background: rgba(245, 245, 246, 1);
 width: 100%

}
.profile-header{
    
}
.profile-header__title{
    font-family: "Montserrat", sans-serif;
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 4.1rem;
    letter-spacing: 0.25px;
    text-align: left;
  

}
.profile-content{
    
}
.profile-form{
    
}
.profile-form__section{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
}
.profile-form__subtitle{
    
}
.profile-form__instruction{
        
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #616161;


}
.profile-form__label{
    
}
.profile-form__input{
    max-width: 38rem;
}
.profile-form__submit{
    
}
